@media only screen and (min-width:400px){
	.my-login-container{
		width:400px;
	}
}

@media only screen and (max-width: 980px) and (min-width: 768px) {
	.form-group .fa{
		margin-left: 315px;
	}
	.btn-default {
		width:87%;
	}
	
	.btn-default:hover{
		width:87%;
	}
}
@media only screen and (max-width: 399px) and (min-width: 361px) {
	.form-group .fa{
		margin-left: 280px;
	}
	.btn-default {
		width:86%;
	}
	
	.btn-default:hover{
		width:86%;
	}
	.my-login-container {
		margin-top: 75px;
		margin-bottom: 75px;
	}
}
@media only screen and (max-width: 360px) and (min-width: 320px) {
	.my-login-container {
		margin-top: 75px;
		margin-bottom: 75px;
	}
	.form-group .fa{
		margin-left: 242px;
	}
	.btn-default {
		width:85%;
	}
	
	.btn-default:hover{
		width:85%;
	}
}