*{
	margin:0;
	padding:0;
}
body{
	background-image:url(img/body-bg.jpg);
	background-size:cover;
	background-position:fixed;
	background-repeat:no-repeat;
}

.clear{
	clear:both;
}

.my-login-container{
	background-color:#F8F8F8;
	margin-top:147px;
	border:1px solid #C5C3C5;
	border-radius:10px
}

.login-title{
	background-color: #e8e8e8;
	margin-top: -12px;
	border-radius: 10px 10px 0 0;
}

.login-title h1{
	padding:25px 0 20px 0;
	color:#5e5e5e;
	font-size:18px;
}

.form-group{
	margin-left:28px;
	color:#5e5e5e;
	font-size:14px;
}

.form-group input {
	position:relative;
    width: 94%;
	height: 40px;
	
	margin-right: 30px;
}

.form-group .fa{
	position: absolute;
	margin-left: 315px;
	margin-top: -31px;
	color: #bbbbbb;
	font-size: 23px;
}

.btn-default{
	background-color: #3fa544;
	margin-left: 30px;
	width: 87%;
	height: 40px;
	margin-bottom: 20px;
	background: -webkit-linear-gradient(bottom, #3fa544, #4ac450); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #3fa544, #4ac450); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #3fa544, #4ac450); /* For Firefox 3.6 to 15 */
    background: linear-gradient(bottom, #3fa544, #4ac450); /* Standard syntax */
}

.btn-default:hover{
	background-color: #41ab46;
	margin-left: 30px;
	width: 87%;
	height: 40px;
	margin-bottom: 20px;
}

.btn-default .fa{
	color:#fff;
	font-size:25px;
}
